policy_module(srcchain, 1.100.1)

########################################
#
# Declarations
#

type srcchain_t;
type srcchain_exec_t;
init_daemon_domain(srcchain_t, srcchain_exec_t)

permissive srcchain_t;

type srcchain_initrc_exec_t;
init_script_file(srcchain_initrc_exec_t)

type srcchain_conf_t;
files_type(srcchain_conf_t)

type srcchain_var_lib_t;
files_type(srcchain_var_lib_t)

type srcchain_var_run_t;
files_type(srcchain_var_run_t)

type srcchain_port_t;
corenet_port(srcchain_port_t)

########################################
#
# srcchain local policy
#
allow srcchain_t self:process { fork };

allow srcchain_t self:fifo_file rw_fifo_file_perms;
allow srcchain_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(srcchain_t, srcchain_conf_t, srcchain_conf_t)
manage_files_pattern(srcchain_t, srcchain_conf_t, srcchain_conf_t)

manage_dirs_pattern(srcchain_t, srcchain_var_lib_t, srcchain_var_lib_t)
manage_files_pattern(srcchain_t, srcchain_var_lib_t, srcchain_var_lib_t)
files_var_lib_filetrans(srcchain_t, srcchain_var_lib_t, { dir file })

manage_dirs_pattern(srcchain_t, srcchain_var_run_t, srcchain_var_run_t)
manage_files_pattern(srcchain_t, srcchain_var_run_t, srcchain_var_run_t)

sysnet_dns_name_resolve(srcchain_t)
corenet_all_recvfrom_unlabeled(srcchain_t)

allow srcchain_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(srcchain_t)
corenet_tcp_sendrecv_generic_node(srcchain_t)
corenet_tcp_sendrecv_all_ports(srcchain_t)
corenet_tcp_bind_generic_node(srcchain_t)

gen_require(`
    type srcchain_port_t;
')
allow srcchain_t srcchain_port_t:tcp_socket name_bind;

gen_require(`
    type srcchain_port_t;
')
allow srcchain_t srcchain_port_t:tcp_socket name_connect;

domain_use_interactive_fds(srcchain_t)

files_read_etc_files(srcchain_t)

miscfiles_read_localization(srcchain_t)

sysnet_dns_name_resolve(srcchain_t)

allow srcchain_t srcchain_exec_t:file execute_no_trans;
allow srcchain_t self:process setsched;
corecmd_exec_ls(srcchain_t)
corenet_tcp_connect_http_port(srcchain_t)
dev_read_urand(srcchain_t)
fs_getattr_xattr_fs(srcchain_t)
kernel_read_system_state(srcchain_t)
