
## <summary>policy for srcchain</summary>


########################################
## <summary>
##	Transition to srcchain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`srcchain_domtrans',`
	gen_require(`
		type srcchain_t, srcchain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, srcchain_exec_t, srcchain_t)
')


########################################
## <summary>
##	Execute srcchain server in the srcchain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`srcchain_initrc_domtrans',`
	gen_require(`
		type srcchain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, srcchain_initrc_exec_t)
')


########################################
## <summary>
##	Search srcchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`srcchain_search_lib',`
	gen_require(`
		type srcchain_var_lib_t;
	')

	allow $1 srcchain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read srcchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`srcchain_read_lib_files',`
	gen_require(`
		type srcchain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, srcchain_var_lib_t, srcchain_var_lib_t)
')

########################################
## <summary>
##	Manage srcchain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`srcchain_manage_lib_files',`
	gen_require(`
		type srcchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, srcchain_var_lib_t, srcchain_var_lib_t)
')

########################################
## <summary>
##	Manage srcchain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`srcchain_manage_lib_dirs',`
	gen_require(`
		type srcchain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, srcchain_var_lib_t, srcchain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a srcchain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`srcchain_admin',`
	gen_require(`
		type srcchain_t;
		type srcchain_initrc_exec_t;
		type srcchain_var_lib_t;
	')

	allow $1 srcchain_t:process { ptrace signal_perms };
	ps_process_pattern($1, srcchain_t)

	srcchain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 srcchain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, srcchain_var_lib_t)

')

